.login-wrapper{
  
  background: linear-gradient(rgba(90, 147, 175, 0.7), rgba(5, 24, 29, 0.3)),
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
}

.login-main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  
}

.logo-form{
  width: 200px;
  height: 150px;
  position: absolute;
  top: -50px;
}

.login-main{
  position: relative;
}


.login-main form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

.login-main h1 {
  margin-top: 20px;
  color: #3F1A2B;;
  text-align: center;
  margin-bottom: 20px;
}

.login-main button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #3F1A2B;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}